# used to name the ipa
APP_NAME=Demo

# directory to store exported ipa
APP_DIR=~/Desktop/app

# the absolute path to the project directory
PROJECT_DIR=/Users/reohou/Desktop/Demo
# project name, the same as the .xcodeproj file name
PROJECT_NAME="Demo"

# scheme name
SCHEME_NAME="Demo"

# profile name
PROFILE_NAME="adhoctag20140813"

# configuration for archive
CONFIGURATION="Release"

# login password, to unlock login keychain
LOGIN_PASSWORD="123456"
