# used to name the ipa
APP_NAME=Demo

# directory to store exported ipa
APP_DIR=~/Desktop/app

# the absolute path to the project directory
PROJECT_DIR=/Users/reohou/Desktop/Demo
# project name, the same as the .xcodeproj file name
PROJECT_NAME="Demo"

# scheme name
SCHEME_NAME="Demo"

IOS_PROVISIONING_PROFILE="development"
#IOS_PROVISIONING_PROFILE="distribution"

# login password, to unlock login keychain
LOGIN_PASSWORD="123456"

VERSION="1.0.0"
SHORT_VERSION="1.0.0.0"
